.search {
    max-width: 100px;
    font-weight: bold;
    margin-right: 10px;
}

.containera {
    display: flex;
    flex-direction: row;
}

.inputSearch {
    max-width: 400px;
}

.cartoes {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-right: 0;
    width: 50%;
}

.cartao {
    display: flex;
    border: 0;
    flex-direction: column;
}

.botao {
    width: 50%;
}