body {
margin-top: 50px;
justify-content: center;
display: flex;
}

.todo{
    
}

.coluna {
    display: flex;
    flex-direction: column;
}

.linha {
    display: flex;
    flex-direction: row;
}

.linha2 {
  display: flex;
  justify-content: center;
}

img {
    width: 400px;
    height: 400px;
}

.tamanhos {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.tamanho {
   border: 1px solid black;
   margin-left: 5px;
   font-size: large; 
   cursor: pointer;
}

.preco {
    font-size: 60px;
    color: red;
    /* margin-left: 40px; */
  
}

.comprar {
    font-size: 50px;
    background-color: rgb(166, 192, 140);
    color: white;
    margin-top: 30px;
    text-align: center;
    cursor: pointer;
}